/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;       /* 背景（白） */
  --fg: #111111;       /* 文字色（黒） */
  --accent: #2ecc71;   /* アクセントカラー（緑） */
}

body {
  color: var(--fg);
  background-color: var(--bg);
  background-image: radial-gradient(circle at 10px 10px, rgba(0, 0, 0, 0.05) 2px, transparent 2px);
  background-size: 20px 20px;
}
